* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.navbar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}
.navbar-list {
  margin: 15px 20px;
  display: inline-block;
}
main {
  width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.b-1 {
  background-color: #e6ffe9;
  width: 200px;
  height: 200px;
}
.b-2 {
  background-color: #cbffd3;
  width: 200px;
  height: 200px;
}
.b-3 {
  background-color: #aeffbd;
  width: 200px;
  height: 200px;
}
.b-4 {
  background-color: #93ffab;
  width: 200px;
  height: 200px;
}
.b-5 {
  background-color: #f3ffd8;
  width: 200px;
  height: 200px;
}
.b-6 {
  background-color: #edffbe;
  width: 200px;
  height: 200px;
}
.b-7 {
  background-color: #e9ffa5;
  width: 200px;
  height: 200px;
}
.b-8 {
  background-color: #e4ff8d;
  width: 200px;
  height: 200px;
}
.b-9 {
  background-color: #d9e5ff;
  width: 200px;
  height: 200px;
}
.b-10 {
  background-color: #bad3ff;
  width: 200px;
  height: 200px;
}
.b-11 {
  background-color: #a4c6ff;
  width: 200px;
  height: 200px;
}
.b-12 {
  background-color: #8eb8ff;
  width: 200px;
  height: 200px;
}
footer {
  background-color: gray;
  text-align: center;
  height: 120px;
  line-height: 120px;
}
